html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.label-number{
  margin-left: 30%;
}

.info{
  margin-left: 60%;
}

.tip{
  font-size: 2rem;
}

.input-fieldset{
  margin: 5px;
}

.button {

  border-radius: 5%;
}

.container{
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  align-self: center;
  height: 50%;
}

.title{
  position: relative;
  top: 5%;
  height: 3em;
  font-size: 2em;
  align-content: center;
  text-align: center;
}

.main{
  height: 80vh;
  width: 100vw;
}

.footer{
  position: relative;
  top: 100%;
  height: 3em;
  font-size: 2em;
  align-content: center;
  text-align: center;
}


